In [81]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from datetime import datetime
from sklearn.impute import SimpleImputer

In [82]:
pd.set_option("display.max_columns", 50)

data_df = pd.read_csv("risk-train.txt", sep = '\t')
data_df

,ORDER_ID,CLASS,B_EMAIL,B_TELEFON,B_BIRTHDATE,FLAG_LRIDENTISCH,FLAG_NEWSLETTER,Z_METHODE,Z_CARD_ART,Z_CARD_VALID,Z_LAST_NAME,VALUE_ORDER,WEEKDAY_ORDER,TIME_ORDER,AMOUNT_ORDER,ANUMMER_01,ANUMMER_02,ANUMMER_03,ANUMMER_04,ANUMMER_05,ANUMMER_06,ANUMMER_07,ANUMMER_08,ANUMMER_09,ANUMMER_10,CHK_LADR,CHK_RADR,CHK_KTO,CHK_CARD,CHK_COOKIE,CHK_IP,FAIL_LPLZ,FAIL_LORT,FAIL_LPLZORTMATCH,FAIL_RPLZ,FAIL_RORT,FAIL_RPLZORTMATCH,SESSION_TIME,NEUKUNDE,AMOUNT_ORDER_PRE,VALUE_ORDER_PRE,DATE_LORDER,MAHN_AKT,MAHN_HOECHST
0,49917,no,yes,no,1/17/1973,yes,yes,check,?,5.2006,?,17.80,Saturday,9:13,1,406811,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,8,yes,0,0.00,?,?,?
1,49919,no,yes,yes,12/8/1970,no,no,credit_card,Visa,12.2007,yes,18.20,Wednesday,17:36,1,600953,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,yes,no,no,13,yes,0,0.00,?,?,?
2,49923,no,yes,no,4/3/1972,yes,no,check,?,12.2007,?,10.80,Friday,11:13,1,406310,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,3,yes,0,0.00,?,?,?
3,49924,no,no,yes,8/1/1966,yes,no,check,?,1.2007,?,54.50,Friday,2:07,1,307359,?,?,?,?,?,?,?,?,?,no,no,no,yes,no,no,no,no,no,no,no,no,11,no,4,75.72,5/12/2002,0,0
4,49927,no,yes,yes,12/21/1969,yes,no,credit_card,Eurocard,12.2006,yes,19.99,Tuesday,23:46,1,200767,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,16,yes,0,0.00,?,?,?
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,49821,no,yes,no,3/3/1981,yes,no,check,?,6.2005,?,18.20,Sunday,18:21,1,406859,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,10,no,1,40.83,3/9/2002,0,3
29996,49824,no,yes,no,2/21/1972,no,no,credit_card,Eurocard,5.2005,yes,12.60,Saturday,15:51,1,206507,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,10,no,2,52.84,6/3/2001,0,0
29997,49825,no,yes,no,6/11/1980,no,no,credit_card,Eurocard,11.2006,yes,32.80,Monday,10:37,1,500767,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,6,yes,0,0.00,?,?,?
29998,49828,no,yes,no,12/4/1980,no,no,credit_card,Visa,4.2005,yes,5.20,Sunday,1:52,1,502611,?,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,6,no,1,42.92,7/1/2001,0,0
29999,49829,no,yes,no,3/15/1958,no,no,credit_card,Eurocard,4.2006,yes,60.50,Saturday,20:34,2,404735,406858,?,?,?,?,?,?,?,?,no,no,no,no,no,no,no,no,no,no,no,no,11,no,1,27.29,1/30/2001,0,0

### Column Description ###

1. ORDER_ID: Unique identifier for each order.
2. CLASS: Target attribute indicating payment risk; values are "yes" (high risk) and "no" (low risk).
3. B_EMAIL: Boolean indicating if an email is associated with the order.
4. B_TELEFON: Boolean indicating if a phone number is provided.
5. B_BIRTHDATE: Customer's birthdate.
6. FLAG_LRIDENTISCH: Flag indicating if specific identification checks are identical.
7. FLAG_NEWSLETTER: Boolean showing if the customer is subscribed to newsletters.
8. Z_METHODE: Payment method (e.g., check, credit card).
9. Z_CARD_ART: Type of card used, if applicable.
10. Z_CARD_VALID: Card validity date.
11. Z_LAST_NAME: Last name of the customer, may be anonymized.
12. VALUE_ORDER: Total value of the order.
13. WEEKDAY_ORDER: Day of the week the order was placed.
14. TIME_ORDER: Time when the order was placed.
15. AMOUNT_ORDER: Number of items in the order. 
16-25. ANUMMER_01 to ANUMMER_10: Product codes for items in the order. 
26-28. CHK_LADR, CHK_RADR, CHK_KTO: Checks related to the address, account, and other attributes. 
29-34. CHK_CARD, CHK_COOKIE, CHK_IP, FAIL_LPLZ, FAIL_LORT, FAIL_LPLZORTMATCH: Flags and validation checks, indicating potential mismatches or issues with data verification. 
35-36. FAIL_RPLZ, FAIL_RORT: Additional mismatch checks for residence details. 
37-41. SESSION_TIME, NEUKUNDE, AMOUNT_ORDER_PRE, VALUE_ORDER_PRE, DATE_LORDER: Information on session duration, if the customer is new, previous order amount and value, and last order date. 
42-43. MAHN_AKT, MAHN_HOECHST: Dunning actions and highest dunning level associated with the customer.

In [83]:
data_df.replace('?', pd.NA, inplace = True)

In [84]:
data_df.CLASS.unique()

array(['no', 'yes'], dtype=object)

In [85]:
data_df.head()

null_percentage = data_df.isnull().mean() * 100
null_percentage_table = null_percentage.reset_index()
null_percentage_table.columns = ['Column', 'Null_Percentage']
null_percentage_table

               Column  Null_Percentage
0            ORDER_ID         0.000000
1               CLASS         0.000000
2             B_EMAIL         0.000000
3           B_TELEFON         0.000000
4         B_BIRTHDATE         9.806667
5    FLAG_LRIDENTISCH         0.000000
6     FLAG_NEWSLETTER         0.000000
7           Z_METHODE         0.000000
8          Z_CARD_ART        62.180000
9        Z_CARD_VALID         0.000000
10        Z_LAST_NAME        49.360000
11        VALUE_ORDER         0.000000
12      WEEKDAY_ORDER         0.000000
13         TIME_ORDER         0.066667
14       AMOUNT_ORDER         0.000000
15         ANUMMER_01         0.000000
16         ANUMMER_02        73.823333
17         ANUMMER_03        89.340000
18         ANUMMER_04        95.560000
19         ANUMMER_05        98.196667
20         ANUMMER_06        99.313333
21         ANUMMER_07        99.683333
22         ANUMMER_08        99.886667
23         ANUMMER_09        99.976667
24         ANUMMER_10       100.000000
25           CHK_LADR         0.000000
26           CHK_RADR         0.000000
27            CHK_KTO         0.000000
28           CHK_CARD         0.000000
29         CHK_COOKIE         0.000000
30             CHK_IP         0.000000
31          FAIL_LPLZ         0.000000
32          FAIL_LORT         0.000000
33  FAIL_LPLZORTMATCH         0.000000
34          FAIL_RPLZ         0.000000
35          FAIL_RORT         0.000000
36  FAIL_RPLZORTMATCH         0.000000
37       SESSION_TIME         0.000000
38           NEUKUNDE         0.000000
39   AMOUNT_ORDER_PRE         0.000000
40    VALUE_ORDER_PRE         0.000000
41        DATE_LORDER        52.853333
42           MAHN_AKT        52.853333
43       MAHN_HOECHST        52.853333

In [86]:
# Removing Null Columns

column_to_drop = null_percentage_table[null_percentage_table['Null_Percentage'] > 20]['Column'].tolist()
data_df.drop(columns = column_to_drop, inplace = True)

In [87]:
# Formatting Columns

data_df["Z_CARD_VALID"] = data_df["Z_CARD_VALID"].astype(str)
data_df[['MONTH', 'YEAR']] = data_df["Z_CARD_VALID"].astype(str).str.split('.', expand = True)

data_df["Z_CARD_VALID_NEW"] = data_df.apply(lambda x: pd.to_datetime(f'{x.YEAR}-{x.MONTH}-01') + pd.offsets.MonthEnd(0), axis = 1)

In [88]:
data_df["Z_CARD_VALID"] = data_df["Z_CARD_VALID_NEW"]
data_df.drop(columns = ['MONTH', 'YEAR', 'Z_CARD_VALID_NEW'], inplace = True)

In [89]:
data_df["TIME_ORDER"] = pd.to_datetime(data_df["TIME_ORDER"], format = '%H:%M', errors = 'coerce')
data_df["TIME_ORDER"] = data_df["TIME_ORDER"].dt.strftime('%H:%M')

data_df["B_BIRTHDATE"] = pd.to_datetime(data_df["B_BIRTHDATE"], errors = 'coerce')

data_df['VALUE_ORDER'] = data_df['VALUE_ORDER'].astype(float)

data_df['AMOUNT_ORDER'] = data_df['AMOUNT_ORDER'].astype(int)

data_df['SESSION_TIME'] = data_df['SESSION_TIME'].astype(int)

data_df['AMOUNT_ORDER_PRE'] = data_df['AMOUNT_ORDER_PRE'].astype(int)

data_df['VALUE_ORDER_PRE'] = data_df['VALUE_ORDER_PRE'].astype(float)

In [90]:
print(data_df.info())
data_df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 30 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   ORDER_ID           30000 non-null  int64
 1   CLASS              30000 non-null  object
 2   B_EMAIL            30000 non-null  object
 3   B_TELEFON          30000 non-null  object
 4   B_BIRTHDATE        27058 non-null  datetime64[ns]
 5   FLAG_LRIDENTISCH   30000 non-null  object
 6   FLAG_NEWSLETTER    30000 non-null  object
 7   Z_METHODE          30000 non-null  object
 8   Z_CARD_VALID       30000 non-null  datetime64[ns]
 9   VALUE_ORDER        30000 non-null  float64
 10  WEEKDAY_ORDER      30000 non-null  object
 11  TIME_ORDER         29980 non-null  object
 12  AMOUNT_ORDER       30000 non-null  int32
 13  ANUMMER_01         30000 non-null  int64
 14  CHK_LADR           30000 non-null  object
 15  CHK_RADR           30000 non-null  object
 16  CHK_KTO            30000 non-null  object
 17  CHK_CARD           30000 non-null  object
 18  CHK_COOKIE         30000 non-null  object
 19  CHK_IP             30000 non-null  object
 20  FAIL_LPLZ          30000 non-null  object
 21  FAIL_LORT          30000 non-null  object
 22  FAIL_LPLZORTMATCH  30000 non-null  object
 23  FAIL_RPLZ          30000 non-null  object
 24  FAIL_RORT          30000 non-null  object
 25  FAIL_RPLZORTMATCH  30000 non-null  object
 26  SESSION_TIME       30000 non-null  int32
 27  NEUKUNDE           30000 non-null  object
 28  AMOUNT_ORDER_PRE   30000 non-null  int32
 29  VALUE_ORDER_PRE    30000 non-null  float64
dtypes: datetime64[ns](2), float64(2), int32(3), int64(2), object(21)
memory usage: 6.5+ MB
None

,ORDER_ID,CLASS,B_EMAIL,B_TELEFON,B_BIRTHDATE,FLAG_LRIDENTISCH,FLAG_NEWSLETTER,Z_METHODE,Z_CARD_VALID,VALUE_ORDER,WEEKDAY_ORDER,TIME_ORDER,AMOUNT_ORDER,ANUMMER_01,CHK_LADR,CHK_RADR,CHK_KTO,CHK_CARD,CHK_COOKIE,CHK_IP,FAIL_LPLZ,FAIL_LORT,FAIL_LPLZORTMATCH,FAIL_RPLZ,FAIL_RORT,FAIL_RPLZORTMATCH,SESSION_TIME,NEUKUNDE,AMOUNT_ORDER_PRE,VALUE_ORDER_PRE
0,49917,no,yes,no,1973-01-17,yes,yes,check,2006-05-31,17.80,Saturday,09:13,1,406811,no,no,no,no,no,no,no,no,no,no,no,no,8,yes,0,0.00
1,49919,no,yes,yes,1970-12-08,no,no,credit_card,2007-12-31,18.20,Wednesday,17:36,1,600953,no,no,no,no,no,no,no,no,no,yes,no,no,13,yes,0,0.00
2,49923,no,yes,no,1972-04-03,yes,no,check,2007-12-31,10.80,Friday,11:13,1,406310,no,no,no,no,no,no,no,no,no,no,no,no,3,yes,0,0.00
3,49924,no,no,yes,1966-08-01,yes,no,check,2007-01-31,54.50,Friday,02:07,1,307359,no,no,no,yes,no,no,no,no,no,no,no,no,11,no,4,75.72
4,49927,no,yes,yes,1969-12-21,yes,no,credit_card,2006-12-31,19.99,Tuesday,23:46,1,200767,no,no,no,no,no,no,no,no,no,no,no,no,16,yes,0,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,49821,no,yes,no,1981-03-03,yes,no,check,2005-06-30,18.20,Sunday,18:21,1,406859,no,no,no,no,no,no,no,no,no,no,no,no,10,no,1,40.83
29996,49824,no,yes,no,1972-02-21,no,no,credit_card,2005-05-31,12.60,Saturday,15:51,1,206507,no,no,no,no,no,no,no,no,no,no,no,no,10,no,2,52.84
29997,49825,no,yes,no,1980-06-11,no,no,credit_card,2006-11-30,32.80,Monday,10:37,1,500767,no,no,no,no,no,no,no,no,no,no,no,no,6,yes,0,0.00
29998,49828,no,yes,no,1980-12-04,no,no,credit_card,2005-04-30,5.20,Sunday,01:52,1,502611,no,no,no,no,no,no,no,no,no,no,no,no,6,no,1,42.92
29999,49829,no,yes,no,1958-03-15,no,no,credit_card,2006-04-30,60.50,Saturday,20:34,2,404735,no,no,no,no,no,no,no,no,no,no,no,no,11,no,1,27.29

In [91]:
for column in data_df.columns:
    unique_values = data_df[column].unique()
    print(f"Unique values in column '{column}': {unique_values}")

Unique values in column 'ORDER_ID': [49917 49919 49923 ... 49825 49828 49829]
Unique values in column 'CLASS': ['no' 'yes']
Unique values in column 'B_EMAIL': ['yes' 'no']
Unique values in column 'B_TELEFON': ['no' 'yes']
Unique values in column 'B_BIRTHDATE': <DatetimeArray>
['1973-01-17 00:00:00', '1970-12-08 00:00:00', '1972-04-03 00:00:00',
 '1966-08-01 00:00:00', '1969-12-21 00:00:00', '1975-01-20 00:00:00',
 '1978-02-03 00:00:00', '1985-07-21 00:00:00', '1953-05-21 00:00:00',
 '1978-10-02 00:00:00',
 ...
 '1978-10-15 00:00:00', '1973-06-06 00:00:00', '1940-08-01 00:00:00',
 '1970-03-28 00:00:00', '1965-12-15 00:00:00', '1950-01-04 00:00:00',
 '1981-02-27 00:00:00', '1934-06-28 00:00:00', '1981-03-03 00:00:00',
 '1958-03-15 00:00:00']
Length: 11143, dtype: datetime64[ns]
Unique values in column 'FLAG_LRIDENTISCH': ['yes' 'no']
Unique values in column 'FLAG_NEWSLETTER': ['yes' 'no']
Unique values in column 'Z_METHODE': ['check' 'credit_card' 'debit_note' 'debit_card']
Unique values in column 'Z_CARD_VALID': <DatetimeArray>
['2006-05-31 00:00:00', '2007-12-31 00:00:00', '2007-01-31 00:00:00',
 '2006-12-31 00:00:00', '2007-02-28 00:00:00', '2007-11-30 00:00:00',
 '2005-05-31 00:00:00', '2007-09-30 00:00:00', '2006-11-30 00:00:00',
 '2006-02-28 00:00:00', '2006-06-30 00:00:00', '2007-03-31 00:00:00',
 '2005-06-30 00:00:00', '2007-06-30 00:00:00', '2005-03-31 00:00:00',
 '2005-04-30 00:00:00', '2005-11-30 00:00:00', '2006-04-30 00:00:00',
 '2006-03-31 00:00:00', '2006-09-30 00:00:00', '2005-12-31 00:00:00',
 '2007-08-31 00:00:00', '2006-10-31 00:00:00', '2005-02-28 00:00:00',
 '2007-07-31 00:00:00', '2005-10-31 00:00:00', '2005-07-31 00:00:00',
 '2005-08-31 00:00:00', '2005-09-30 00:00:00', '2006-07-31 00:00:00',
 '2006-01-31 00:00:00', '2005-01-31 00:00:00', '2006-08-31 00:00:00',
 '2007-10-31 00:00:00', '2007-04-30 00:00:00', '2007-05-31 00:00:00']
Length: 36, dtype: datetime64[ns]
Unique values in column 'VALUE_ORDER': [ 17.8   18.2   10.8  ... 126.25  81.47 153.6 ]
Unique values in column 'WEEKDAY_ORDER': ['Saturday' 'Wednesday' 'Friday' 'Tuesday' 'Thursday' 'Sunday' 'Monday']
Unique values in column 'TIME_ORDER': ['09:13' '17:36' '11:13' ... '01:10' '07:03' '03:45']
Unique values in column 'AMOUNT_ORDER': [1 4 2 3 5 7 6 8 9]
Unique values in column 'ANUMMER_01': [406811 600953 406310 307359 200767 405897 303950 400124 508801 400914
 402697 106590 402454 201402 207610 201373 407610 107317 105580 500124
 408126 102448 206520 603639 404921 204765 104522 502089 300214 406160
 406685 104258 108777 306284 508889 409736 302089 204242 403136 509006
 202496 102133 309121 205431 202677 208609 102090 401856 507046 104765
 400767 407344 303136 205958 206858 407022 405284 202469 404645 400822
 407416 306398 100214 409470 402243 104921 502845 203136 409183 200035
 104159 103776 409200 205338 204341 106284 102845 206774 403772 200476
 108801 101856 307317 404935 302496 609121 403533 404269 402123 406774
 109102 407934 503950 504921 405580 503639 104935 506398 500578 200147
 102496 104645 103950 408470 308997 302133 406929 206590 209006 202133
 205284 406859 402496 408889 308777 204921 402246 201511 204792 307699
 404159 507610 407741 402993 401402 405874 309500 408143 405555 107570
 405378 203397 409015 401223 401648 202454 506590 408289 201967 504935
 600124 409006 405958 404258 109725 402677 206398 201371 207046 400072
 504792 100124 401893 407364 402294 401285 204258 407223 209725 402734
 206504 504258 503776 405767 502611 208500 505555 504485 104077 409053
 403203 204645 402224 407162 409725 104792 203367 200925 201856 107255
 200293 606310 400293 607699 407046 202681 302677 107300 101893 405485
 402062 309006 408507 506284 103397 509102 402440 508997 201796 408609
 600767 209670 502496 208499 409121 400738 202845 305685 609670 202399
 602845 503397 402634 100147 107359 402090 204159 407300 204077 407699
 202246 405643 601893 500147 602133 307344 408801 200450 508499 405966
 402611 409782 100953 200822 600578 300767 202090 201893 102697 406504
 407570 407703 407491 503367 506858 507344 208801 107610 207317 603367
 408499 206954 401796 406507 302611 607359 500959 100578 402133 409333
 303776 409386 405965 402399 407193 309670 105685 203950 200061 205874
 409670 200329 209662 400802 204522 106398 501371 402845 406406 609725
 406203 504077 105958 200214 203776 404553 407171 509121 303639 205685
 202993 102611 102089 501796 201648 406036 607046 108997 304159 401371
 304485 105431 209386 405213 303397 109670 409709 405338 400035 207156
 406398 301371 408397 609006 304077 305580 400172 101796 207300 506310
 203772 504765 403378 608889 505685 208397 207570 406821 405685 104341
 506520 202611 207359 107046 402116 202697 608997 500214 204935 109006
 408777 108397 409101 100959 406282 202089 109500 508777 106821 103136
 201619 402410 300925 200576 306858 207703 309102 400061 205580 102681
 408500 306821 505580 206507 406959 604485 208889 403397 400578 206255
 205966 206685 400058 301893 204553 400214 406255 409013 209102 608801
 108500 400959 400147 202294 200953 407255 107344 500925 203639 300578
 408997 205555 402681 207344 409500 405431 606284 406520 202410 108499
 103639 209500 204723 107699 507359 302845 500767 308889 101371 403776
 409826 204485 504159 404765 501511 408097 406284 100925 206929 401373
 306310 404549 407387 509670 502090 605685 300953 404944 606858 404077
 603950 404792 206310 201216 402448 609500 603776 407669 602089 409662
 406781 404735 407317 500953 409731 405540 209736 209121 106520 605580
 202062 304258 404341 600925 404371 401619 404504 108889 106858 507255
 404485 100061 105555 509500 206821 207699 507699 401967 307046 402278
 406590 300124 607317 204944 406120 200959 502454 502677 604258 104485
 407274 507317 503136 509725 403367 401241 404242 409513 101511 406954
 600476 102677 208997 603397 400953 601371 401564 406858 208777 404723
 107171 506821 408096 208605 303367 207162 300476 400925 501893 406897
 206284 101619 102454 408679 206959 101967 404134 409102 401835 103367
 100476 309725 402089 202634 205378 308801 207171 408605 202123 400329
 106504 603136 200124 403546 407156 403639 401216 403950 602677 500476
 400476 106310 202448 207255 407359 402572 406005 105338 502133 202243
 404522 402641 109121 100767 200578 400576 400450 402469 106685 401511]
Unique values in column 'CHK_LADR': ['no' 'yes']
Unique values in column 'CHK_RADR': ['no' 'yes']
Unique values in column 'CHK_KTO': ['no' 'yes']
Unique values in column 'CHK_CARD': ['no' 'yes']
Unique values in column 'CHK_COOKIE': ['no' 'yes']
Unique values in column 'CHK_IP': ['no' 'yes']
Unique values in column 'FAIL_LPLZ': ['no' 'yes']
Unique values in column 'FAIL_LORT': ['no' 'yes']
Unique values in column 'FAIL_LPLZORTMATCH': ['no' 'yes']
Unique values in column 'FAIL_RPLZ': ['no' 'yes']
Unique values in column 'FAIL_RORT': ['no' 'yes']
Unique values in column 'FAIL_RPLZORTMATCH': ['no' 'yes']
Unique values in column 'SESSION_TIME': [ 8 13  3 11 16  7  9  1 10  2  4 12 14  6  5 17 15 18 20 19 21 22 23 24]
Unique values in column 'NEUKUNDE': ['yes' 'no']
Unique values in column 'AMOUNT_ORDER_PRE': [0 4 1 2 3 5 6]
Unique values in column 'VALUE_ORDER_PRE': [  0.    75.72   6.95 ... 120.38 138.88  52.84]

In [92]:
# Creating Columns and updating columns

data_df['AGE'] = data_df['B_BIRTHDATE'].apply(lambda x: (datetime.now() - x).days // 365)
data_df = data_df.drop(columns=['B_BIRTHDATE']) 
data_df.replace('no', 0, inplace = True)

In [93]:
data_df.replace('yes', 1, inplace = True)

C:\Users\kedar\AppData\Local\Temp\ipykernel_5024\3973022085.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data_df.replace('yes', 1, inplace = True)

In [94]:
data_df = pd.get_dummies(data_df, columns=['Z_METHODE', 'WEEKDAY_ORDER'], drop_first=True)

In [95]:
data_df['TIME_ORDER'] = pd.to_datetime(data_df['TIME_ORDER'], format='%H:%M')
data_df['TIME_ORDER'] = data_df['TIME_ORDER'].apply(lambda x: x.hour * 60 + x.minute)

In [96]:
data_df['Z_CARD_VALID'] = pd.to_datetime(data_df['Z_CARD_VALID'], format='%Y-%m-%d')


data_df['DAYS_TO_CARD_VALID'] = (data_df['Z_CARD_VALID'] - datetime.now()).dt.days


data_df.drop(columns=['Z_CARD_VALID'], inplace=True)

In [97]:
data_df

,ORDER_ID,CLASS,B_EMAIL,B_TELEFON,FLAG_LRIDENTISCH,FLAG_NEWSLETTER,VALUE_ORDER,TIME_ORDER,AMOUNT_ORDER,ANUMMER_01,CHK_LADR,CHK_RADR,CHK_KTO,CHK_CARD,CHK_COOKIE,CHK_IP,FAIL_LPLZ,FAIL_LORT,FAIL_LPLZORTMATCH,FAIL_RPLZ,FAIL_RORT,FAIL_RPLZORTMATCH,SESSION_TIME,NEUKUNDE,AMOUNT_ORDER_PRE,VALUE_ORDER_PRE,AGE,Z_METHODE_credit_card,Z_METHODE_debit_card,Z_METHODE_debit_note,WEEKDAY_ORDER_Monday,WEEKDAY_ORDER_Saturday,WEEKDAY_ORDER_Sunday,WEEKDAY_ORDER_Thursday,WEEKDAY_ORDER_Tuesday,WEEKDAY_ORDER_Wednesday,DAYS_TO_CARD_VALID
0,49917,0,1,0,1,1,17.80,553.0,1,406811,0,0,0,0,0,0,0,0,0,0,0,0,8,1,0,0.00,51.0,False,False,False,False,True,False,False,False,False,-6732
1,49919,0,1,1,0,0,18.20,1056.0,1,600953,0,0,0,0,0,0,0,0,0,1,0,0,13,1,0,0.00,53.0,True,False,False,False,False,False,False,False,True,-6153
2,49923,0,1,0,1,0,10.80,673.0,1,406310,0,0,0,0,0,0,0,0,0,0,0,0,3,1,0,0.00,52.0,False,False,False,False,False,False,False,False,False,-6153
3,49924,0,0,1,1,0,54.50,127.0,1,307359,0,0,0,1,0,0,0,0,0,0,0,0,11,0,4,75.72,58.0,False,False,False,False,False,False,False,False,False,-6487
4,49927,0,1,1,1,0,19.99,1426.0,1,200767,0,0,0,0,0,0,0,0,0,0,0,0,16,1,0,0.00,54.0,True,False,False,False,False,False,False,True,False,-6518
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,49821,0,1,0,1,0,18.20,1101.0,1,406859,0,0,0,0,0,0,0,0,0,0,0,0,10,0,1,40.83,43.0,False,False,False,False,False,True,False,False,False,-7067
29996,49824,0,1,0,0,0,12.60,951.0,1,206507,0,0,0,0,0,0,0,0,0,0,0,0,10,0,2,52.84,52.0,True,False,False,False,True,False,False,False,False,-7097
29997,49825,0,1,0,0,0,32.80,637.0,1,500767,0,0,0,0,0,0,0,0,0,0,0,0,6,1,0,0.00,44.0,True,False,False,True,False,False,False,False,False,-6549
29998,49828,0,1,0,0,0,5.20,112.0,1,502611,0,0,0,0,0,0,0,0,0,0,0,0,6,0,1,42.92,43.0,True,False,False,False,False,True,False,False,False,-7128
29999,49829,0,1,0,0,0,60.50,1234.0,2,404735,0,0,0,0,0,0,0,0,0,0,0,0,11,0,1,27.29,66.0,True,False,False,False,True,False,False,False,False,-6763

In [98]:
data_df.CLASS.unique()

array([0, 1], dtype=int64)

In [117]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.linear_model import LogisticRegression

In [118]:
model = LogisticRegression()

In [119]:
X = data_df.drop(columns=['CLASS','ORDER_ID'])
y = data_df['CLASS']
imputer = SimpleImputer(strategy='mean')  


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=6,stratify=y)
print(y.value_counts())
X_train = imputer.fit_transform(X_train)
X_test = imputer.transform(X_test)

CLASS
0    28254
1     1746
Name: count, dtype: int64

In [120]:
model.fit(X_train,y_train)

e:\Anaconda\envs\py-ml-env\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [121]:
y_pred = model.predict(X_test)
conf_matrix = confusion_matrix(y_test, y_pred, labels=[0, 1])

In [122]:
print("Confusion Matrix:\n", conf_matrix)

Confusion Matrix:
 [[8476    0]
 [ 524    0]]

In [123]:
report = classification_report(y_test, y_pred, labels=[0, 1], zero_division=1)

print("\nClassification Report:\n", report)

Classification Report:
               precision    recall  f1-score   support

           0       0.94      1.00      0.97      8476
           1       1.00      0.00      0.00       524

    accuracy                           0.94      9000
   macro avg       0.97      0.50      0.49      9000
weighted avg       0.95      0.94      0.91      9000

In [124]:
import sklearn.metrics as met

In [127]:
met.accuracy_score(y_test,y_pred)

0.9417777777777778

In [ ]:
met.precision_score(y_test,y_pred,zero_division=True)

1.0